@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --turquoise: hsl(177, 68%, 64%);
    --orangish: hsl(12, 94, 65);
    --golden-yellow: hsl(33, 100, 73);
    --offwhite: hsl(20, 33, 98);
    --dark-blue: hsl(244, 23, 12);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: 'IBM Plex Sans', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/bg-pattern-1.svg"), url("../img/bg-main-desktop.png");
    background-position: right -50px, -300px -200px;
    background-repeat: no-repeat;
}

.wrapper-container {
    width: 95%;
    max-width: 1110px;
    margin: auto;
}

header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section.hero {
    padding-top: 3rem;
    max-width: 900px;
}

.hero__heading {
    font-size: 5.5rem;
    line-height: 1em;
    letter-spacing: -1px;
}

.hero__content {
    font-size: 1.25rem;
    line-height: 2.125rem;
    margin-top: 2.5rem;
}

@media only screen and (max-width: 1280px) {
    body {
        background-position: 105% -35px, -300px -200px;
    }

    section.hero {
        max-width: 750px;
    }

    .hero__heading {
        font-size: 4.5rem;
    }

}

@media only screen and (max-width: 1050px) {
    body {
        background-position: 110% -35px, -300px -200px;
    }

    section.hero {
        max-width: 500px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        background-image: url("../img/bg-pattern-1.svg"), url("../img/bg-main-tablet.png");
        background-position: 113% -35px, -300px -200px;
    }
}

@media only screen and (max-width: 750px) {
    body {
        background-image: url("../img/bg-main-tablet.png");
        background-position: -300px -200px;
    }
}